

/* common */

.btn-theme-circle-default{
	border-radius: 50%;
	background: rgba(51, 51, 51, 0.08);
	font-size: 18px;
    position: relative;
	padding: 12px 15px;
	transition:0.5s all ease-in-out;
	color: #36ad6f;
		
}
.btn-danger{
	background-color: #f85462;
	border-color: #f85462;
}
.btn-success{
	background-color: #36ad6f;
	border-color: #36ad6f;
}
.btn-theme-circle-primary{
	border-radius: 50%;
	background: #36ad6f;
	color:white;
	font-size: 18px;
    position: relative;
	padding: 12px 15px;
	transition:0.5s all ease-in-out;
		
}
.btn-theme-circle-primary:hover, .btn-theme-circle-primary:focus{
	outline: none;
		color:white;
		/* background: #59d998; */
		box-shadow: 0 0 0 0.2rem rgba(45, 174, 109, 0.25)
}
.btn-theme-circle-bdr{
	border-radius: 50%;
	border: 2px solid #36ad6f;
	font-size: 18px;
    position: relative;
	padding: 12px 15px;
	color: #36ad6f;
	transition: 0.5s all ease-in-out;
	
}
.btn-theme-circle-bdr:hover, .btn-theme-circle-bdr:focus{
	outline: none;
	background: #36ad6f;
	color: white !important;
	box-shadow:0 0 0 0.2rem rgba(45, 174, 109, 0.25)
	
}
a.focus{
	outline: none !important;
    border:none;
}


#mainRoot{
	background: #36ad6f;
}
/* NAVBAR SECTION */
#navbarSection{
	box-shadow: 1px 1px 10px #33333330;
    margin-bottom: 5px;
    background: #36ad6f;
}

#bodyMain{

	background: #3cac71;
	position: relative;
}
#bodyMain ol{
	margin-top: 15px;
}
#bodyMain ol li{
	margin-bottom: 8px;
}
#bodyMain ol li .input-group {
	    box-shadow: 1px 1px 10px #33333321;
}
#bodyMain ol li .input-group .input-group-prepend{
	border-right: 1px solid #eee;
	margin-right: 0;
}
#bodyMain ol li .input-group .input-group-prepend span.input-group-text{
	border-color: transparent;
	background: white;
}
#bodyMain ol li .input-group input{
	background: white;
	border-color: transparent;
}
#bodyMain ol li .input-group input:hover, #bodyMain ol li .input-group input:focus{
	outline: none;
	box-shadow: none;
}
#bodyMain ol li{
	list-style-type: none;
}
#bodyMain .dropdownCollapse{
	position: absolute;
	top: -4px;
	left: 0;
	width: 100%;
	z-index: 1;
}
#bodyMain .dropdownCollapse .card{
	border-radius: 0;
	border:none;
	border-top: 1px solid #f1f1f1;
	border-radius: 0px 0px 12px 12px;
	background-color: #f2f2f2;
margin: 15px;
margin-top: 0px;
border: none;
box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.33);
}
#bodyMain .chatbox{
	margin-top: 30px;
	height: calc(100vh - 148px);
	background: url('../img/bg.jpg');
	/* background-size: cover; */
	border-radius: 12px;
}
#bodyMain .alpha-color{
	border-radius: 12px;
	background: rgba(196, 177, 5, 0.49);
	width: 100%;
	height: 100%;
	position: relative;
	box-shadow: 1px 1px 20px rgba(51, 51, 51, 0.31);
}

#bodyMain .menubox{
	margin-top: 30px;
    height: calc(100vh - 148px);
	background: url('../img/bg.jpg');
	/* background-size: cover; */
	border-radius: 12px;
}


#bodyMain .menubox .buttonGroupMenuDropUp{
	text-align: center;
	font-size: 25px;
}
#bodyMain .menubox .buttonGroupMenuDropUp .menuCaption{
	margin: 0;
	    font-size: 8px;
    text-transform: capitalize;
    letter-spacing: 0.4px;
	font-weight: 500;

}
#bodyMain .menubox .buttonGroupMenuDropUp ul{
	    padding: 0;
    margin: 0;
    padding: 17px 20px;
    box-shadow: 1px 1px 10px #33333359;
    background: white;
    /* display: inline-block; */
    border-radius: 12px;
    /* position: relative; */
    position: absolute;
    left: 0;
    right: 0;
    width: fit-content;
    margin: auto;
    top: -55px;
    transition: 0.2s all ease-in-out;
	opacity: 0;
	transform: scale(0.5);

	
}
#bodyMain .menubox .buttonGroupMenuDropUp ul li:last-child{
	border: none;
}
#bodyMain .boXtitle{
	margin:0;
		    background: white;
    border-radius: 12px 12px 0px 0px;
    padding: 10px 15px;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 300;
    box-shadow: 1px 1px 10px #33333330;
	}
.buttonGroupMenuDropUp .wow{
	/* background: black !important; */
	opacity: 1 !important;
	top: -90px !important;
	transform: scale(1) !important;
	
}
#bodyMain .menubox .btn-bottomMenuGroup{
	margin: 25px;
	top: 30px;
    left: 0;
}
/* #bodyMain .menubox .btn-bottomMenuGroup:focus .buttonGroupMenuDropUp{
	background: green !important;


} */
#bodyMain .menubox .buttonGroupMenuDropUp ul li{
	display: inline-block;
    padding: 0px 12px;
    border-right: 1px solid #f1f1f1;
    color: #36ad6f;
}


#mainRoot .dropdown a.UserProfile::after{
    display: none;
}
#mainRoot .dropdown a .ProfilePic{
    height: 60px;
    border-radius: 50%;
    width: 60px;
    border-radius: 50%;
    width: 60px;
    
}

#mainRoot nav .rightPart{
    /* background: red; */
    
}




#mainRoot nav .rightPart ul li:not(:last-child){
    position: relative;
    top:6px;
    font-size: 30px;
    padding-right: 15px;
}

.dropdownProfile{
    position: relative;
    top: 80px;
    box-shadow: 5px 11px 10px 0px rgba(51, 51, 51, 0.37);
}
.dropdownTrip{
    position: relative;
	top: 57px !important;
	width: auto !important;
    box-shadow: 5px 11px 10px 0px rgba(51, 51, 51, 0.37);
}
.tripUl{
	padding: 18px 0;
	margin: 0;
}
.tripUl .modal-content .modal-header{
	border: none;
	padding-bottom: 0;
}
.tripUl .modal-content{
	border-radius: 12px;
    border: none;
    box-shadow: 1px 1px 30px #3339;

}
.tripUl .modal-content .modal-body ul{
	padding: 0;
}
.tripUl .modal-content .modal-body ul li{
	display: block;
	text-align: center;
	padding-bottom: 20px;
	
	
}
.tripUl .modal-content .modal-body ul li a{
	color: #333;
    font-size: 14px;
	line-height: 35px;
	text-decoration: none;
	transition: 0.5s all ease-in-out;
}
.tripUl .modal-content .modal-body ul li:last-child a{
	color: red;
	transition: 0.5s all ease-in-out;
}

.tripUl .modal-content .modal-body ul li a:hover{
	color: #36ad6f;
}
.tripUl .modal-content .modal-body ul li:last-child a:hover{
	color: red;
}
.tripUl li{
	display: inline-block;
}

.btn-invite{
	position: relative;
    top: 4px;
	margin-right:4px;
	padding-left: 12px !important;
	padding-right: 12px !important;
}
.btn-about{
	position: relative;
	top: 4px;
	margin-right:4px;
	padding-left: 18px;
	padding-right: 18px;
}

.invitationJumbor .jumbotron{
	background-color: transparent;
}

.tripBtn{
	margin: 0;
	padding: 36px 0px;
	padding-left: 10px;
}
	.tripBtn a{
		border-radius: 40px;
	font-size: 14px;
	font-weight: 300;
	text-decoration: none;
	}
	
	
	
		.tripBtn a span{
			font-size: 18px;
	padding-left: 8px;
}
.dropdownInvite{
    position: relative;
    top: 68px;
    box-shadow: 5px 11px 10px 0px rgba(51, 51, 51, 0.37);
}
.dropdownTrip::before, .dropdownProfile::before, .dropdownInvite::before{
	content: '';
	position: absolute;
	left: 21px;
	right: 0;
	top: -11px;
	background: white;
	height: 20px;
	width: 20px;
	transform: rotate(45deg);
	overflow-y: 0;
	border: 1px solid rgba(0,0,0,.15);
	border-bottom: 0px;
	border-right: 0px;
}


.chatFormInput{
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	/* margin-left: 15px; */
/* padding-right: 30px; */

}
.chatFormInput textarea.form-control{
	border-radius: 12px;
	position: relative;
	padding-left: 85px;
	padding-right: 85px;
	border:0;
	box-shadow: 0px -5px 8px rgba(51, 51, 51, 0.19);
	padding-top: 15px;
	resize: none;
}


.chatFormInput input[type="file"]{
width: 50px;
padding: 50px 0 0 0;
height: 50px;
overflow: hidden;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background: transparent;
border-radius: 50%;
background-size: 60px 60px;
position: absolute;
border: none;
top: 12px;
background: rgba(51, 51, 51, 0.08);
left: 14px;
margin: 10px;
cursor: pointer;
transition: 0.5s all ease-in-out;
}

.chatFormInput input[type="file"]:hover, .chatFormInput input[type="file"]:focus{
	color: #495057;
	box-shadow: 0 0 0 0.2rem rgba(45, 174, 109, 0.25);
}
.chatFormInput input[type="file"]::after{
	content: '\f0c6';
	position: absolute;
	top: 9px;
	left: 12px;
	height: 74px;
	width: 50px;
	font-size: 30px;
	
	
	
}
.chatFormInput .sendBtn{
	position: absolute;
    bottom: 20px;
    right: 23px;
	height: 74px;
	width: 50px;
	border: none;
	width: 50px;
	height: 50px;
	transition: 0.5s all ease-in-out;
	cursor: pointer;
}

#chats{
	height: calc(100vh - 260px);
overflow: hidden;
overflow-y: scroll;
padding-bottom: 30px;

}
.msgItem{
border-radius: 12px;
padding: 10px;
margin: 20px;
position: relative;
top: 0;
font-size: 14px;
letter-spacing: 0.2px;
/* width: max-content; */

}
.recievedMsg{
	background: #f2f2f2;
	/* box-shadow: -1px 1px 10px #a5a5a5 */
	display: inline-block;
float: left;
border-radius: 12px 12px 12px 0px;
left: 30px;
}
.recievedMsg::after{
	content: '';
position: absolute;
left: 0px;
bottom: -10px;
border-left: 10px solid #f3f3f3;
border-top: 10px solid #f3f3f3;
border-bottom: 10px solid transparent;
border-right: 10px solid transparent;
}
.recievedMsg::before{
	content: '';
position: absolute;
left: -42px;
top: 0px;
border-radius: 50%;
height: 35px;
width: 35px;
background: #Fff;
border: 2px solid rgba(54, 173, 111, 0.44);
}

.sentMsg{
	background: #36ad6f;
	color: white;
	font-weight: 100;
	position: relative;
	display: inline-block;
	float: right;
	right: 30px;
}
.sentMsg::after{
	content: '';
position: absolute;
right: 0px;
bottom: -10px;
transform: rotate(90deg);
border-left: 10px solid #36ad6f;
border-top: 10px solid #36ad6f;
border-bottom: 10px solid transparent;
border-right: 10px solid transparent;
}
.sentMsg::before{
	content: '';
position: absolute;
right: -42px;
top: 0px;
border-radius: 50%;
height: 35px;
width: 35px;
background: #Fff;
border: 2px solid rgba(54, 173, 111, 0.44);
}
.bottomMenuGroup{
	height: 86px;
background: white;
position: absolute;
width: 100%;
/* margin-left: 15px; */
/* padding-right: 30px; */
bottom: 0;
border:0;
box-shadow: 0px -5px 8px rgba(51, 51, 51, 0.19);
border-radius: 12px;
text-align: center;
}



/* scrollbar */

#chats::-webkit-scrollbar {
  width: 12px;
}

/* Track */
#chats::-webkit-scrollbar-track {
  /* background:transparent !important; */
  /* border-radius: 50px; */
  background: #eee; 
  /* border-radius: 0px 50px 0px 0px; */
}
 
/* Handle */
#chats::-webkit-scrollbar-thumb {
     border: 4px solid #eee;
    background: #37aa6e;
	/* border-radius: 0px 50px 50px 0px; */
}

/* Handle on hover */
#chats::-webkit-scrollbar-thumb:hover {
  background: #333;
}

/* Animation */
.animation{
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

 @-webkit-keyframes slideDownIn {
	 0% {
		 
		 -webkit-transform: translateY(-20px);
	 }
	 100% {
		 
		 -webkit-transform: translateY(0);
	 }
	 
	 0% {
		 -webkit-transform: translateY(-20);
	 }
}

@keyframes slideDownIn {
	0% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
	0% {
		transform: translateY(-20px);
	}
}

.slideDownIn {
	-webkit-animation-name: slideDownIn;
	animation-name: slideDownIn;
}

 @-webkit-keyframes slideUpIn {
	 0% {
		 
		 -webkit-transform: translateY(20px);
	 }
	 100% {
		 
		 -webkit-transform: translateY(0);
	 }
	 
	 0% {
		 -webkit-transform: translateY(20px);
	 }
}

@keyframes slideUpIn {
	0% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0);
	}
	0% {
		transform: translateY(20px);
	}
}

.slideUpIn {
	-webkit-animation-name: slideUpIn;
	animation-name: slideUpIn;
}





.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(1%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(1%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}



/* MEDIA QUERIES */
@media(min-width: 768px){
	.UserProfile img{
		margin: 0px 12px;
	}
}